@font-face {
	font-family: "SFmono";
	src: url(./../fonts/sf-mono-cufonfonts/SFMonoMedium.otf);
}

@font-face {
	font-family: "calibre";
	src: url(./../fonts/calibre/CalibreMedium.otf);
}

/* Transiciones */
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$hamburger-width: 30px;
$ham-before: top 0.1s ease-in 0.25s,
opacity 0.1s ease-in;
$ham-before-active: top 0.1s ease-out,
opacity 0.1s ease-out 0.12s;
$ham-after: bottom 0.1s ease-in 0.25s,
transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ham-after-active: bottom 0.1s ease-out,
transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
/* Fuentes*/
$font-sans: "calibre",
"Inter",
sans-serif;
$font-mono: "SFmono",
"Roboto Mono",
monospace;

/* Variable Colores*/
$dark-slate: #495670;
$dark-navy: #020c1b;
$navy: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$navy-shadow: rgba(2, 12, 27, 0.7);
$dark-slate: #495670;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white: #e6f1ff;
$green: #ebff05;
$green-tint: rgba(100, 255, 218, 0.1);
$pink: #f57dff;
$blue: #57cbff;

@mixin small {
	@media (max-width: 768px) {
		@content;
	}
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

:root {
	--c-blue-900: #081030;
	--c-blue-800: #111b40;
	--c-blue-700: #152148;
	--c-blue-500: #1d7bdb;
	--c-blue-300: #293359;
	--c-blue-200: #4e5985;
	--c-blue-100: #dfe8ff;
	--c-green-400: #ebff05;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0px 0px 10px;
	font-weight: 600;
	color: $lightest-slate;
	line-height: 1.1;
}

body {
	height: 400vh;
	font-family: $font-sans;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	background-color: $navy;
	color: $slate;
	font-size: 20px;
	line-height: 1.3;

}

.blur {
	overflow: hidden;
}

/* ScrollBar */
body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: $navy;
}

body::-webkit-scrollbar-thumb {
	background-color: $dark-slate;
	border: 3px solid $navy;
	border-radius: 10px;
}

/*Cuando se hace seleccion de texto*/
::-moz-selection {
	background-color: $lightest-navy;
	color: $lightest-slate;
}

::selection {
	background-color: $lightest-navy;
	color: $lightest-slate;
}

a {
	text-decoration: none;
}

body {
	header {
		padding: 0 30px;
		position: fixed;
		width: 100%;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		z-index: 99;
		background-color: rgba(10, 25, 47, 0.05);
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;

		.nav {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			top: 0px;
			z-index: 11;
			width: 100%;
			background-color: rgba(10, 25, 47, 0.85);


			-webkit-transition: $transition;


			-o-transition: $transition;


			transition: $transition;
			-webkit-filter: none !important;
			filter: none !important;
			pointer-events: auto !important;
			-webkit-user-select: auto !important;
			-moz-user-select: auto !important;
			-ms-user-select: auto !important;
			user-select: auto !important;
			height: 80px;
			font-family: $font-mono;



			.logo {
				#logo {
					fill: none;
					width: 42px;
					height: 42px;
					color: $green;
				}
			}

			.list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;

				@include small() {
					display: none;
				}

				ol {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					padding: 0px;
					margin: 0px;
					list-style: none;

					li {
						margin: 0px 5px;
						position: relative;
						counter-increment: item 1;
						font-size: 13px;

						a {
							display: inline-block;
							text-decoration: none;
							-webkit-text-decoration-skip: ink;
							text-decoration-skip-ink: auto;
							color: inherit;
							position: relative;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;

							&::before {
								content: "0"counter(item) ".";
								margin-right: 5px;
								color: $green;
								font-size: 12px;
								text-align: right;
							}

							&:hover {
								color: $green;
							}
						}
					}
				}

				.cv {
					color: $green;
					background-color: transparent;
					border: 1px solid $green;
					border-radius: 10px;
					padding: 0.75rem 1rem;
					font-family: $font-mono;
					line-height: 1;
					text-decoration: none;
					cursor: pointer;
					-webkit-transition: $transition;
					-o-transition: $transition;
					transition: $transition;
					margin-left: 15px;
					font-size: 13px;

					&:hover {
						background: rgba($color: $green, $alpha: 0.8);
					}
				}
			}

			.dAwNpJ {
				display: none;

				@include small() {
					display: block;
				}

				.eCxtrN {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: relative;
					z-index: 10;
					margin-right: -15px;
					padding: 15px;
					border: 0px;
					background-color: transparent;
					color: inherit;
					text-transform: none;
					-webkit-transition-timing-function: linear;
					-o-transition-timing-function: linear;
					transition-timing-function: linear;
					-webkit-transition-duration: 0.15s;
					-o-transition-duration: 0.15s;
					transition-duration: 0.15s;
					-webkit-transition-property: opacity, -webkit-filter;
					transition-property: opacity, -webkit-filter;
					-o-transition-property: opacity, filter;
					transition-property: opacity, filter;
					transition-property: opacity, filter, -webkit-filter;
				}

				.eCxtrN .ham-box-inner {
					position: absolute;
					top: 50%;
					right: 0px;
					width: 30px;
					height: 2px;
					border-radius: 10px;
					background-color: $green;
					-webkit-transition: -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
					transition: -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
					-o-transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
					transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
					transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
					-webkit-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					transform: rotate(0deg);
				}

				.eCxtrN .ham-box-inner::before,
				.eCxtrN .ham-box-inner::after {
					content: "";
					display: block;
					position: absolute;
					left: auto;
					right: 0px;
					width: 30px;
					height: 2px;
					border-radius: 4px;
					background-color: $green;
					-webkit-transition-timing-function: ease;
					-o-transition-timing-function: ease;
					transition-timing-function: ease;
					-webkit-transition-duration: 0.15s;
					-o-transition-duration: 0.15s;
					transition-duration: 0.15s;
					-webkit-transition-property: -webkit-transform;
					transition-property: -webkit-transform;
					-o-transition-property: transform;
					transition-property: transform;
					transition-property: transform, -webkit-transform;
				}

				.eCxtrN .ham-box-inner::before {
					width: 120%;
					top: -10px;
					opacity: 1;
					-webkit-transition: top 0.1s ease-in 0.25s,
						opacity 0.1s ease-in;
					-o-transition: top 0.1s ease-in 0.25s,
						opacity 0.1s ease-in;
					transition: top 0.1s ease-in 0.25s,
						opacity 0.1s ease-in;

				}

				.eCxtrN .ham-box-inner::after {
					width: 80%;
					bottom: -10px;
					-webkit-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
					transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
					-o-transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
					transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
					transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
				}

				.eCxtrN .ham-box {
					display: inline-block;
					position: relative;
					width: 30px;
					height: 24px;
				}

				.dKogfI {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: fixed;
					top: 0px;
					bottom: 0px;
					right: 0px;
					padding: 50px 10px;
					width: min(75vw, 400px);
					height: 100vh;
					outline: 0px;
					background-color: var(--light-navy);
					-webkit-box-shadow: -10px 0px 30px -15px var(--navy-shadow);
					box-shadow: -10px 0px 30px -15px var(--navy-shadow);
					z-index: 9;
					-webkit-transform: translateX(100vw);
					-ms-transform: translateX(100vw);
					transform: translateX(100vw);
					visibility: hidden;
					-webkit-transition: var(--transition);
					-o-transition: var(--transition);
					transition: var(--transition);
				}

				/* activos */
				.eVRjg {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: relative;
					z-index: 10;
					margin-right: -15px;
					padding: 15px;
					border: 0px;
					background-color: transparent;
					color: inherit;
					text-transform: none;
					-webkit-transition-timing-function: linear;
					-o-transition-timing-function: linear;
					transition-timing-function: linear;
					-webkit-transition-duration: 0.15s;
					-o-transition-duration: 0.15s;
					transition-duration: 0.15s;
					-webkit-transition-property: opacity, -webkit-filter;
					transition-property: opacity, -webkit-filter;
					-o-transition-property: opacity, filter;
					transition-property: opacity, filter;
					transition-property: opacity, filter, -webkit-filter;
				}

				.eVRjg .ham-box {
					display: inline-block;
					position: relative;
					width: 30px;
					height: 24px;

				}

				.eVRjg .ham-box-inner {
					position: absolute;
					top: 50%;
					right: 0px;
					width: 30px;
					height: 2px;
					border-radius: 10px;
					background-color: $green;
					-webkit-transition: -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transition: -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					-o-transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					-webkit-transform: rotate(225deg);
					-ms-transform: rotate(225deg);
					transform: rotate(225deg);
				}

				.eVRjg .ham-box-inner::before,
				.eVRjg .ham-box-inner::after {
					content: "";
					display: block;
					position: absolute;
					left: auto;
					right: 0px;
					width: 30px;
					height: 2px;
					border-radius: 4px;
					background-color: $green;
					-webkit-transition-timing-function: ease;
					-o-transition-timing-function: ease;
					transition-timing-function: ease;
					-webkit-transition-duration: 0.15s;
					-o-transition-duration: 0.15s;
					transition-duration: 0.15s;
					-webkit-transition-property: -webkit-transform;
					transition-property: -webkit-transform;
					-o-transition-property: transform;
					transition-property: transform;
					transition-property: transform, -webkit-transform;
				}

				.eVRjg .ham-box-inner::before {
					width: 100%;
					top: 0px;
					opacity: 0;
					-webkit-transition: top 0.1s ease-out,
						opacity 0.1s ease-out 0.12s;
					-o-transition: top 0.1s ease-out,
						opacity 0.1s ease-out 0.12s;
					transition: top 0.1s ease-out,
						opacity 0.1s ease-out 0.12s;
				}

				.eVRjg .ham-box-inner::after {
					width: 100%;
					bottom: 0px;
					-webkit-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					transform: rotate(-90deg);
					-webkit-transition: bottom 0.1s ease-out,
						-webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transition: bottom 0.1s ease-out,
						-webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					-o-transition: bottom 0.1s ease-out,
						transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transition: bottom 0.1s ease-out,
						transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transition: bottom 0.1s ease-out,
						transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s,
						-webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
				}

				.dSbVSd {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: fixed;
					top: 0px !important;
					bottom: 0px !important;
					right: -0px !important;
					padding: 50px 10px;
					width: min(75vw, 400px);
					height: 100vh;
					outline: 0px;
					background-color: $light-navy;
					-webkit-box-shadow: -10px 0px 30px -15px $navy-shadow;
					box-shadow: -10px 0px 30px -15px $navy-shadow;
					z-index: 9;
					-webkit-transform: translateX(0vw);
					-ms-transform: translateX(0vw);
					transform: translateX(0vw);
					visibility: visible;
					-webkit-transition: $transition;
					-o-transition: $transition;
					transition: $transition;
				}

				.dSbVSd nav {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					width: 100%;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					color: $lightest-slate;
					font-family: $font-mono;
					text-align: center;
				}

				.dSbVSd ol {
					padding: 0px;
					margin: 0px;
					list-style: none;
					width: 100%;
				}

				.dSbVSd ol li {
					position: relative;
					margin: 0px auto 20px;
					counter-increment: item 1;
					font-size: clamp(14px, 4vw, 20px);
				}

				.dSbVSd ol li::before {
					content: "0"counter(item) ".";
					display: block;
					margin-bottom: 5px;
					color: $green;
					font-size: 14px;
				}

				.dSbVSd ol a {
					display: inline-block;
					text-decoration: none;
					-webkit-text-decoration-skip: ink;
					text-decoration-skip-ink: auto;
					color: inherit;
					position: relative;
					-webkit-transition: $transition;
					-o-transition: $transition;
					transition: $transition;
					width: 100%;
					padding: 3px 20px 20px;
				}

				.dSbVSd .resume-link {
					color: $green;
					background-color: transparent;
					border: 1px solid $green;
					border-radius: 10px;
					font-size: 14px;
					font-family: $font-mono;
					line-height: 1;
					text-decoration: none;
					cursor: pointer;
					-webkit-transition: $transition;
					-o-transition: $transition;
					transition: $transition;
					padding: 18px 50px;
					margin: 10% auto 0px;
					width: -webkit-max-content;
					width: -moz-max-content;
					width: max-content;
				}
			}

		}
	}

	.side {
		width: 40px;
		position: fixed;
		bottom: 0px;
		left: 40px;
		right: auto;
		z-index: 10;
		color: $light-slate;

		@include small {
			display: none !important;
		}

		.fade {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin: 0px;
			padding: 0px;
			list-style: none;

			li {
				a {
					display: inline-block;
					text-decoration: none;
					-webkit-text-decoration-skip: ink;
					text-decoration-skip-ink: auto;
					color: inherit;
					position: relative;
					color: $light-slate;
					padding: 10px;

					.feather {
						width: 20px;
						height: 20px;
						-webkit-transition: $transition;
						-o-transition: $transition;
						transition: $transition;
					}

					&:hover {
						.feather {
							color: $green;
							-webkit-transform: translateY(-5px);
							-ms-transform: translateY(-5px);
							transform: translateY(-5px);
						}
					}
				}
			}

			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 90px;
				margin: 0px auto;
				background-color: $light-slate;
			}
		}
	}

	.rightBar {
		width: 40px;
		position: fixed;
		bottom: 0px;
		left: auto;
		right: 40px;
		z-index: 10;
		color: $light-slate;

		@include small {
			display: none !important;
		}

		.fade {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			position: relative;

			a {
				margin: 20px auto;
				padding: 10px;
				font-family: $font-mono;
				font-size: 12px;
				line-height: 18px;
				letter-spacing: 0.1em;
				-webkit-writing-mode: vertical-rl;
				-ms-writing-mode: tb-rl;
				writing-mode: vertical-rl;
				color: inherit;
				text-decoration: none;
				-webkit-transition: $transition;
				-o-transition: $transition;
				transition: $transition;

				&:hover {
					color: $green;
					-webkit-transform: translateY(-5px);
					-ms-transform: translateY(-5px);
					transform: translateY(-5px);
				}
			}

			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 90px;
				margin: 0px auto;
				background-color: $light-slate;
			}
		}
	}

	#content {
		.main {
			margin: 0px auto;
			width: 100%;
			max-width: 1600px;
			min-height: 100vh;
			padding: 0 150px;

			@include small() {
				padding: 0px 40px;
			}

			.sobreMi {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: start;
				-ms-flex-align: start;
				align-items: flex-start;
				min-height: 100vh;
				padding: 0px;

				.pOne {
					h1 {
						margin: 0px 0px 30px 4px;
						color: $green;
						font-family: $font-mono;
						font-size: clamp(14px, 5vw, 16px);
						font-weight: 400;
						-webkit-transition: $transition;
						-o-transition: $transition;
						transition: $transition;
					}
				}

				.pDos {
					h2 {
						margin: 0px;
						font-size: clamp(40px, 8vw, 80px);
					}
				}

				.pTres {
					h3 {
						margin-top: 10px;
						color: $slate;
						line-height: 0.9;
						font-size: clamp(20px, 8vw, 40px);
					}
				}

				.pCuatro {
					p {
						margin: 20px 0px 0px;
						max-width: 540px;

						&>a {
							display: inline-block;
							text-decoration: none;
							-webkit-text-decoration-skip: ink;
							text-decoration-skip-ink: auto;
							position: relative;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
							color: $green;
						}
					}
				}

				.pCinco {
					a {
						color: $green;
						background: transparent;
						border: 1px solid $green;
						border-radius: 10px;
						padding: 1.25rem 1.75rem;
						font-size: 14px;
						font-family: $font-mono;
						line-height: 1;
						text-decoration: none;
						cursor: pointer;
						-webkit-transition: $transition;
						-o-transition: $transition;
						transition: $transition;
						margin-top: 50px;
						display: inline-block;
						-webkit-text-decoration-skip: ink;
						text-decoration-skip-ink: auto;
						position: relative;

						&:hover {
							background: rgba($color: $green, $alpha: 0.1);
						}
					}
				}
			}

			.about {
				margin: 0px auto;
				padding: 100px 0px;
				max-width: 900px;

				.numbered-heading {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: relative;
					margin: 10px 0px 40px;
					width: 100%;
					font-size: clamp(26px, 5vw, 32px);
					white-space: nowrap;

					&::before {
						position: relative;
						bottom: 4px;
						counter-increment: section 1;
						content: "0"counter(section) ".";
						margin-right: 10px;
						color: $green;
						font-family: $font-mono;
						font-size: clamp(16px, 3vw, 20px);
						font-weight: 400;
					}

					&::after {
						content: "";
						display: block;
						position: relative;
						top: -5px;
						width: 300px;
						height: 1px;
						margin-left: 20px;
						background-color: $lightest-navy;
					}
				}


				.inner {
					display: -ms-grid;
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
					justify-items: center;
					grid-auto-flow: dense;
					gap: 50px;

					.pD {
						p {
							font-size: 15px;
							margin: 0px 0px 15px;

							&>a {
								display: inline-block;
								text-decoration: none;
								-webkit-text-decoration-skip: ink;
								text-decoration-skip-ink: auto;
								position: relative;
								-webkit-transition: $transition;
								-o-transition: $transition;
								transition: $transition;
								color: $green;
							}

							&>a::after {
								content: "";
								display: block;
								width: 0%;
								height: 1px;
								position: relative;
								bottom: 0.37em;
								background-color: $green;
								-webkit-transition: $transition;
								-o-transition: $transition;
								transition: $transition;
								opacity: 0.5;
							}

							&>a:hover:after {
								content: "";
								display: block;
								width: 100%;
								height: 1px;
								position: relative;
								bottom: 0.37em;
								background-color: $green;
								-webkit-transition: $transition;
								-o-transition: $transition;
								transition: $transition;
								opacity: 0.5;
							}
						}

						.skills-list {
							display: -ms-grid;
							display: grid;
							-ms-grid-columns: minmax(140px, 200px) 10px minmax(140px, 200px);
							grid-template-columns: repeat(2, minmax(140px, 200px));
							gap: 0px 10px;
							padding: 0px;
							margin: 20px 0px 0px;
							overflow: hidden;
							list-style: none;

							li {
								position: relative;
								margin-bottom: 10px;
								padding-left: 20px;
								font-family: $font-mono;
								font-size: 13px;

								&::before {
									content: "▹";
									position: absolute;
									left: 0px;
									color: $green;
									font-size: 14px;
									line-height: 12px;
								}
							}
						}
					}

					.image {
						position: relative;
						max-width: 300px;
						border-radius: 10px;

						.wrapper {
							-webkit-box-shadow: 0 10px 30px -15px $navy-shadow;
							box-shadow: 0 10px 30px -15px $navy-shadow;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
							display: block;
							position: relative;
							width: 100%;
							background-color: $green;
							border-radius: 10px !important;

							&::before {
								top: 0px;
								left: 0px;
								background-color: $navy;
								mix-blend-mode: screen;
								border-radius: 10px;
							}

							&::after {
								border: 2px solid $green;
								top: 20px;
								left: 20px;
								-webkit-transition: $transition;
								-o-transition: $transition;
								transition: $transition;
								border-radius: 10px;
								z-index: -1;
							}

							&:hover::after {
								top: 10px;
								border-radius: 10px;
								left: 10px;
							}

							&:hover {
								.img {
									mix-blend-mode: normal;
									-webkit-filter: grayscale(0%);
									filter: grayscale(0%);
									border-radius: 10px;

									picture {
										img {
											border-radius: 10px;
										}
									}
								}
							}

							.img {
								position: relative;
								border-radius: 10px;
								mix-blend-mode: multiply;
								-webkit-filter: grayscale(100%) contrast(1);
								filter: grayscale(100%) contrast(1);
								-webkit-transition: $transition;
								-o-transition: $transition;
								transition: $transition;
								width: 100%;
								max-width: 100%;
								border-radius: 10px;
								vertical-align: middle;

								picture {
									border-radius: 10px;

									img {
										border-radius: 10px;
										bottom: 0;
										height: 100%;
										left: 0;
										margin: 0;
										max-width: none;
										padding: 0;
										position: absolute;
										right: 0;
										top: 0;
										width: 100%;
										-o-object-fit: cover;
										object-fit: cover;
									}
								}
							}
						}

						.wrapper::before,
						.wrapper::after {
							content: "";
							display: block;
							position: absolute;
							width: 100%;
							height: 100%;
							border-radius: 10px;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
						}
					}
				}
			}

			.jobs {
				margin: 0px auto;
				padding: 100px 0px;
				max-width: 700px;

				.numbered-heading {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: relative;
					margin: 10px 0px 40px;
					width: 100%;
					font-size: clamp(26px, 5vw, 32px);
					white-space: nowrap;

					&::before {
						position: relative;
						bottom: 4px;
						counter-increment: section 2;
						content: "0"counter(section) ".";
						margin-right: 10px;
						color: $green;
						font-family: $font-mono;
						font-size: clamp(16px, 3vw, 20px);
						font-weight: 400;
					}

					&::after {
						content: "";
						display: block;
						position: relative;
						top: -5px;
						width: 300px;
						height: 1px;
						margin-left: 20px;
						background-color: $lightest-navy;
					}
				}

				@include small() {

					.inner {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						width: 100%;

						gap: 10PX;

						.btn {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							overflow: auto;

							/* ScrollBar */
							&::-webkit-scrollbar {
								width: 12px;
								padding: 10px 0;
							}

							&::-webkit-scrollbar-track {
								background: $navy;
							}

							&::-webkit-scrollbar-thumb {
								background-color: $dark-slate;
								border: 3px solid $navy;
								border-radius: 10px;
							}

							.active {
								border-bottom: 1px solid $green;
							}

							.non {
								border-left: none !important;
							}
						}
					}

					.barrita {
						position: absolute;
						display: none;
					}
				}

				.inner {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;

					.btn {
						position: relative;
						z-index: 3;
						width: -webkit-max-content;
						width: -moz-max-content;
						width: max-content;
						padding: 0px;
						margin: 0px;
						list-style: none;
						width: 100%;

						button {
							cursor: pointer;
							border: 0px;
							border-radius: 0px;
						}

						.active {
							text-decoration: none;
							-webkit-text-decoration-skip: ink;
							text-decoration-skip-ink: auto;
							position: relative;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							width: 100%;
							height: 42px;
							padding: 0px 20px 2px;
							border-left: 2px solid $lightest-navy;
							background-color: rgba($color: $green, $alpha: 0.1);
							color: $green;
							font-family: $font-mono;
							font-size: 13px;
							text-align: left;
							white-space: nowrap;
						}

						.non {
							text-decoration: none;
							-webkit-text-decoration-skip: ink;
							text-decoration-skip-ink: auto;
							position: relative;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							width: 100%;
							height: 42px;
							padding: 0px 20px 2px;
							border-left: 2px solid $lightest-navy;
							background-color: transparent;
							color: $slate;
							font-family: $font-mono;
							font-size: 13px;
							text-align: left;
							white-space: nowrap;

							&:hover {
								color: $green;
								background-color: rgba($color: $green, $alpha: 0.1);
							}
						}



						.barrita {
							position: absolute;
							top: 0px;
							left: 0px;
							z-index: 100;
							width: 2px;
							height: 42px;
							border-radius: 10px;
							background: $green;
							-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
							transition: -webkit-transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
							-o-transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
							transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
							transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, -webkit-transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
						}

						.uno {
							-webkit-transform: translateY(calc(0 * 42px));
							-ms-transform: translateY(calc(0 * 42px));
							transform: translateY(calc(0 * 42px));
						}

						.dos {
							-webkit-transform: translateY(calc(1 * 42px));
							-ms-transform: translateY(calc(1 * 42px));
							transform: translateY(calc(1 * 42px));
						}

						.tres {
							-webkit-transform: translateY(calc(2 * 42px));
							-ms-transform: translateY(calc(2 * 42px));
							transform: translateY(calc(2 * 42px));
						}

						.cuatro {
							-webkit-transform: translateY(calc(3 * 42px));
							-ms-transform: translateY(calc(3 * 42px));
							transform: translateY(calc(3 * 42px));
						}
					}

					.job {
						-webkit-transition: $transition;
						-o-transition: $transition;
						transition: $transition;

						.jobsss {
							width: 100%;
							height: auto;
							padding: 10px 5px;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;

							h3 {
								margin-bottom: 2px;
								font-size: 22px;
								font-weight: 500;
								line-height: 1.3;

								.company {
									color: $green;

									a {
										display: inline-block;
										text-decoration: none;
										-webkit-text-decoration-skip: ink;
										text-decoration-skip-ink: auto;
										position: relative;
										-webkit-transition: $transition;
										-o-transition: $transition;
										transition: $transition;
										color: $green;

										&::after {
											content: "";
											display: block;
											width: 0px;
											height: 1px;
											position: relative;
											bottom: 0.37em;
											background-color: $green;
											-webkit-transition: $transition;
											-o-transition: $transition;
											transition: $transition;
											opacity: 0.5;
										}

										&:hover::after {
											content: "";
											display: block;
											width: 100%;
											height: 1px;
											position: relative;
											bottom: 0.37em;
											background-color: $green;
											-webkit-transition: $transition;
											-o-transition: $transition;
											transition: $transition;
											opacity: 0.5;
										}
									}
								}
							}

							.range {
								margin-bottom: 25px;
								color: $light-slate;
								font-family: $font-mono;
								font-size: 13px;
							}

							div {
								ul {
									padding: 0px;
									margin: 0px;
									list-style: none;
									font-size: 18px;

									li {
										position: relative;
										padding-left: 30px;
										margin-bottom: 10px;

										&::before {
											content: "▹";
											position: absolute;
											left: 0px;
											color: $green;
										}
									}
								}
							}
						}

						.active {
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
							display: block;
						}

						.mo {
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
							display: none;
						}
					}
				}
			}

			.projects {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				margin: 0px auto;
				padding: 100px 0px;
				max-width: 1000px;
				width: 100%;

				.numbered-heading {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					position: relative;
					margin: 10px 0px 40px;
					width: 100%;
					font-size: clamp(26px, 5vw, 32px);
					white-space: nowrap;

					&::before {
						position: relative;
						bottom: 4px;
						counter-increment: section 3;
						content: "0"counter(section) ".";
						margin-right: 10px;
						color: $green;
						font-family: $font-mono;
						font-size: clamp(16px, 3vw, 20px);
						font-weight: 400;
					}

					&::after {
						content: "";
						display: block;
						position: relative;
						top: -5px;
						width: 300px;
						height: 1px;
						margin-left: 20px;
						background-color: $lightest-navy;
					}
				}

				.blog-slider {
					width: 95%;
					position: relative;
					max-width: 800px;
					margin: auto;
					background: $lightest-navy;
					-webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
					box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
					padding: 25px;
					border-radius: 25px;
					height: 400px;
					-webkit-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;


					@media screen and (max-width: 992px) {
						max-width: 680px;
						height: 400px;
					}

					@media screen and (max-width: 808px) {
						min-height: 500px;
						height: auto;
						margin: 180px auto;
					}


					@media screen and (max-height: 500px) and (min-width: 992px) {
						height: 350px;
					}

					&__item {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;

						@media screen and (max-width: 768px) {
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							-ms-flex-direction: column;
							flex-direction: column;
						}

						&.swiper-slide-active {
							.blog-slider__img {
								-o-object-fit: cover;
								object-fit: cover;

								img {
									opacity: 1;
									-webkit-transition-delay: .3s;
									-o-transition-delay: .3s;
									transition-delay: .3s;
									-o-object-fit: cover;
									object-fit: cover;
								}
							}

							.blog-slider__content {
								>* {

									opacity: 1;
									-webkit-transform: none;
									-ms-transform: none;
									transform: none;

									@for $i from 0 to 15 {
										&:nth-child(#{$i + 1}) {
											-webkit-transition-delay: $i * 0.1 + 0.3s;
											-o-transition-delay: $i * 0.1 + 0.3s;
											transition-delay: $i * 0.1 + 0.3s;
										}
									}

								}
							}
						}

					}

					&__img {

						width: 300px;
						-ms-flex-negative: 0;
						flex-shrink: 0;
						height: 300px;
						-o-object-fit: cover;
						object-fit: cover;
						background-image: -o-linear-gradient(303deg, #eaff0549 0%, #eaff0549 74%);
						background-image: linear-gradient(147deg, #eaff0549 0%, #eaff0549 74%);

						border: 1px solid $green;
						border-radius: 20px;
						-webkit-transform: translateX(-80px);
						-ms-transform: translateX(-80px);
						transform: translateX(-80px);

						overflow: hidden;
						-webkit-transition: all .3s;
						-o-transition: all .3s;
						transition: all .3s;

						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							-webkit-transition: all .3s;
							-o-transition: all .3s;
							transition: all .3s;
							height: 100%;
							background-image: -o-linear-gradient(303deg, #eaff0549 0%, #ebff0559 74%);
							background-image: linear-gradient(147deg, #eaff0549 0%, #ebff0559 74%);
							border-radius: 20px;
							opacity: 0.8;
						}


						img {
							width: 100%;
							height: 100%;
							display: block;
							opacity: 0;
							border-radius: 20px;
							-webkit-transition: all .3s;
							-o-transition: all .3s;
							transition: all .3s;
							-o-object-fit: cover;
							object-fit: cover;
						}


						@media screen and (max-width: 992px) {}

						@media screen and (max-width: 768px) {
							-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							transform: translateY(-50%);
							width: 90%;
						}

						@media screen and (max-width: 576px) {
							width: 95%;
						}

						@media screen and (max-height: 500px) and (min-width: 992px) {
							height: 270px;
						}
					}

					&__img:hover {
						border: none;

						&:after {
							background-image: -o-linear-gradient(303deg, #eaff0500 0%, #ebff0500 74%);
							background-image: linear-gradient(147deg, #eaff0500 0%, #ebff0500 74%);
						}
					}

					&__content {

						padding-right: 45px;

						@media screen and (max-width: 992px) {}

						@media screen and (max-width: 768px) {
							margin-top: -80px;
							text-align: center;
							padding: 0 30px;
						}

						@media screen and (max-width: 576px) {
							padding: 0
						}

						>* {
							opacity: 0;
							-webkit-transform: translateY(25px);
							-ms-transform: translateY(25px);
							transform: translateY(25px);
							-webkit-transition: all .4s;
							-o-transition: all .4s;
							transition: all .4s;


						}

					}

					&__code {
						color: $green;
						font-family: $font-mono;
						margin-bottom: 15px;
						display: block;
						font-size: clamp(10px, 12px, 13px);
						font-weight: 500;
					}

					&__title {
						font-size: clamp(21px, 24px, 28px);
						font-weight: 200;

						color: $lightest-slate;
						margin-bottom: 20px;
					}

					&__text {
						color: $slate;
						font-size: clamp(14px, 15px, 17px);
						line-height: 1.5em;
						margin-bottom: 10px;
					}

					&__technologies {
						margin-bottom: 30px;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						font-family: $font-mono;
						gap: 15px;


						p {
							font-size: clamp(12px, 14px, 16px);
						}
					}

					&__button {
						display: -webkit-inline-box;
						display: -ms-inline-flexbox;
						display: inline-flex;
						background: 0 0;
						padding: 15px 20px;
						border-radius: 10px;
						color: $green;
						text-decoration: none;
						border: 1px solid $green;
						line-height: 1;
						font-size: 13px;
						-webkit-transition: all .3s !important;
						-o-transition: all .3s !important;
						transition: all .3s !important;


						@media screen and (max-width: 576px) {
							width: 100%;
						}

					}



					&__button:hover {
						background: rgba(235, 255, 5, .1);
					}

					.swiper-container-horizontal>.swiper-pagination-bullets,
					.swiper-pagination-custom,
					.swiper-pagination-fraction {
						bottom: 10px;
						left: 0;
						width: 100%;

					}

					&__pagination {
						position: absolute;
						z-index: 21;
						right: 20px;
						width: 11px !important;
						text-align: center;
						left: auto !important;
						top: 50%;
						bottom: auto !important;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);

						@media screen and (max-width: 768px) {
							-webkit-transform: translateX(-50%);
							-ms-transform: translateX(-50%);
							transform: translateX(-50%);
							left: 50% !important;
							top: 205px;
							width: 100% !important;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
						}

						&.swiper-pagination-bullets .swiper-pagination-bullet {
							margin: 8px 0;

							@media screen and (max-width: 768px) {
								margin: 0 5px;
							}
						}

						.swiper-pagination-bullet {
							width: 11px;
							height: 11px;
							display: block;
							border-radius: 10px;
							background: $light-slate;
							opacity: 0.2;
							-webkit-transition: all .3s;
							-o-transition: all .3s;
							transition: all .3s;

							&-active {
								opacity: 1;
								background: $green;
								height: 30px;

								@media screen and (max-width: 768px) {
									height: 11px;
									width: 30px;
								}
							}
						}

					}

				}

			}

			.other_projects {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				margin: 0px auto;
				padding: 100px 0px;
				max-width: 1000px;
				width: 100%;

				h2 {
					font-size: clamp(21px, 24px, 28px);
					margin: 0 0 10px;
					font-weight: 600;
					color: $lightest-slate;
					line-height: 1.1;
				}

				.ctn {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;

					.view_more {
						background: 0 0;
						border: 1px solid $green;
						border-radius: 10px;
						padding: 1.25rem 1.75rem;
						font-size: 14px;
						font-family: SFmono,
							"Roboto Mono",
							monospace;
						line-height: 1;
						cursor: pointer;
						transition: $transition;
						margin-top: 50px;
						display: inline-block;
						color: $green;

						&:hover {
							background: rgba($color: $green, $alpha: 0.2);
						}
					}

					.cover_projects {
						z-index: 10;
						width: 100%;
						height: 150px;
						background: linear-gradient(to top, $navy 40%, transparent);
						margin-top: -100px;
						margin-bottom: 20px;
						display: block;

						&.desactive {
							display: none;
						}
					}



					.grid {
						list-style: none;
						padding: 0px;
						margin: 50px 0px 0px;
						display: -ms-grid;
						display: grid;
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
						gap: 15px;
						position: relative;
						width: 100%;

						&.oculto {
							height: 70vh !important;
							overflow: hidden !important;
						}

						.dIMCBf {
							position: relative;
							cursor: default;
							-webkit-transition: $transition;
							-o-transition: $transition;
							transition: $transition;
						}

						.dIMCBf .project-inner {
							-webkit-box-shadow: 0 10px 30px -15px $navy-shadow;
							box-shadow: 0 10px 30px -15px $navy-shadow;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-pack: justify;
							-ms-flex-pack: justify;
							justify-content: space-between;
							-webkit-box-align: center;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							-ms-flex-direction: column;
							flex-direction: column;
							-webkit-box-align: start;
							-ms-flex-align: start;
							align-items: flex-start;
							/* position: relative; */
							height: 100%;
							padding: 2rem 1.75rem;
							border-radius: 10px;
							background-color: $light-navy;
						}

						.dIMCBf .project-top {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-pack: justify;
							-ms-flex-pack: justify;
							justify-content: space-between;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							margin-bottom: 35px;
						}

						.dIMCBf .project-top .folder {
							color: $green;
						}

						.dIMCBf .project-top .folder svg {
							width: 40px;
							height: 40px;
						}

						svg.feather {
							fill: none;
						}

						.dIMCBf .project-top .project-links {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							margin-right: -10px;
							color: $light-slate;
						}

						.dIMCBf .project-top .project-links a {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							padding: 5px 7px;
						}

						.dIMCBf .project-top .project-links a.external svg {
							width: 22px;
							height: 22px;
							color: $light-slate;
							margin-top: -4px;
							-webkit-transition: all .3s;
							-o-transition: all .3s;
							transition: all .3s;

							&:hover {
								color: $green;
							}
						}

						.dIMCBf .project-title {
							margin: 0px 0px 10px;
							font-size: 22px;

							a {
								color: $lightest-slate !important;
								-webkit-transition: all .3s !important;
								-o-transition: all .3s !important;
								transition: all .3s !important;
								display: inline-block;
								text-decoration: none;
								-webkit-text-decoration-skip: ink;
								text-decoration-skip-ink: auto;
								color: inherit;
								position: relative;
								-webkit-transition: var(--transition);
								-o-transition: var(--transition);
								transition: var(--transition);

							}

							&:hover {
								a {
									cursor: pointer;
									color: $green !important;
								}
							}
						}

						.dIMCBf .project-description {
							color: $lightest-slate;
							font-size: 17px;
						}

						.dIMCBf .project-tech-list {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: end;
							-ms-flex-align: end;
							align-items: flex-end;
							-webkit-box-flex: 1;
							-ms-flex-positive: 1;
							flex-grow: 1;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
							padding: 0px;
							margin: 20px 0px 0px;
							list-style: none;
						}

						.dIMCBf .project-tech-list li {
							font-family: $font-mono;
							font-size: 13px;
							line-height: 1.75;
						}

						.dIMCBf .project-tech-list li:not(:last-of-type) {
							margin-right: 15px;
						}
					}
				}
			}

			.contact_boxeeeee {
				max-width: 600px;
				margin: 0px auto 100px;
				text-align: center;
				padding: 100px 0px;

				@include small() {
					padding: 40px 0;
				}

				.overline {
					display: block;
					margin-bottom: 20px;
					color: $green;
					font-family: $font-mono;
					font-size: 16px;
					font-weight: 400;
				}

				.overline::before {
					bottom: 0 !important;
					font-size: 14px;
				}

				.numbered-heading::before {
					position: relative;
					bottom: 4px;
					counter-increment: section 4;
					content: "0"counter(section) ".";
					margin-right: 10px;
					color: $green;
					font-family: $font-mono;
					font-size: clamp(16px, 3vw, 20px);
					font-weight: 400;
				}

				.title {
					font-size: clamp(40px, 5vw, 60px);
				}

				h2 {
					margin: 0px 0px 10px;
					font-weight: 600;
					color: $lightest-slate;
					line-height: 1.1;
				}

				p:last-of-type {
					margin: 0px;
					margin-bottom: 40px;
				}

				.email-link {
					color: $green;
					background-color: transparent;
					border: 1px solid $green;
					border-radius: 10px;
					padding: 1.1rem 1.75rem;
					font-size: 14px;
					font-family: $font-mono;
					line-height: 1;
					text-decoration: none;
					cursor: pointer;
					-webkit-transition: $transition;
					-o-transition: $transition;
					transition: $transition;
					margin-top: 50px !important;

					@include small() {
						padding: 0.5rem 1.1rem !important;
					}
				}
			}

		}

		.earxGk {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			height: auto;
			min-height: 70px;
			padding: 15px;
			text-align: center;

			.iKeBGp {
				display: none;

				@include small() {
					display: block;
					width: 100%;
					max-width: 270px;
					margin: 0px auto 10px;
					color: $light-slate;
				}
			}

			.iKeBGp ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				padding: 0px;
				margin: 0px;
				list-style: none;
			}

			.iKeBGp ul a {
				padding: 10px;
			}

			a {
				display: inline-block;
				text-decoration: none;
				-webkit-text-decoration-skip: ink;
				text-decoration-skip-ink: auto;
				color: inherit;
				position: relative;
				-webkit-transition: $transition;
				-o-transition: $transition;
				transition: $transition;
			}

			.iKeBGp ul a svg {
				width: 20px;
				height: 20px;
			}

			svg.feather {
				fill: none;
			}

			.fLSMpu {
				color: $light-slate;
				font-family: $font-mono;
				font-size: 12px;
				line-height: 1;
			}

			.fLSMpu a {
				padding: 10px;
			}

			a {
				display: inline-block;
				text-decoration: none;
				-webkit-text-decoration-skip: ink;
				text-decoration-skip-ink: auto;
				color: inherit;
				position: relative;
				-webkit-transition: var(--transition);
				-o-transition: var(--transition);
				transition: var(--transition);
			}
		}
	}

	.pop_up_sobremi {
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0;
		top: 0;
		display: none;
		background: rgba(0, 0, 0, 0.8);
		z-index: 999;

		&.active {
			display: flex;
			overflow: none;
			justify-content: center;
			align-items: center;
		}

		.price-table {
			background-color: var(--c-blue-700);
			border-radius: 16px;
			max-width: 375px;
			padding: 32px;
			display: flex;
			flex-direction: column;
			position: relative;
			background-image: linear-gradient(135deg, rgba(74, 222, 128, 0.15), rgba(29, 123, 219, 0.1) 20%, var(--c-blue-700) 40%, var(--c-blue-700) 100%);

			.pop_up_sobremi_cerrar {
				position: absolute;
				display: block;
				top: 10px;
				right: 10px;
				border: none;
				outline: none;
				width: 25px;
				height: 25px;
				border-radius: 100%;
				font-weight: bold;
				font-size: 15px;
				background-color: #ff6961;
				cursor: pointer;
				transition: $transition;

				&:hover {
					background-color: #c63637;
					color: #fff;
				}
			}
		}

		.price-table:after {
			content: "";
			display: block;
			top: -3px;
			left: -3px;
			bottom: -3px;
			right: -3px;
			z-index: -1;
			position: absolute;
			border-radius: 16px;
			background-image: linear-gradient(135deg, $green, var(--c-blue-500) 40%, var(--c-blue-300) 60%, var(--c-blue-700) 100%);
		}

		.price-table .price {
			font-size: 3rem;
			line-height: 1;
			font-weight: 700;
			display: inline-flex;
			align-self: center;
			align-items: center;
			gap: 4px;
			position: relative;
			color: #fff;
		}

		.price-table .price small {
			font-size: 1.25rem;
			font-weight: 400;
			position: absolute;
			left: -1.5ch;
		}

		.price-table .title {
			font-size: 1.25rem;
			font-weight: 600;
			line-height: 1.25;
			text-align: center;
			margin-top: 16px;
			color: #fff;
		}

		.price-table .description {
			font-size: 1rem;
			text-align: center;
			margin-top: 4px;
		}

		.features {
			margin-top: 32px;
		}

		.feature {
			position: relative;
		}

		.feature+.feature {
			margin-top: 16px;
		}

		.feature summary {
			display: flex;
			align-items: center;
			list-style: none;

			.name {
				padding-top: 5px;

				a {
					color: $green;
					font-weight: 100;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.feature summary::-webkit-details-marker {
			display: none;
		}

		.feature[open] summary:after {
			content: "";
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: fixed;
			z-index: 50;
		}

		.feature[open] div {
			-webkit-animation: scale 0.15s ease;
			animation: scale 0.15s ease;
		}

		.feature .checkmark {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 12px;
		}

		.feature .checkmark svg {
			width: 20px;
			height: 20px;
			color: #fff;
		}

		.feature .question-icon {
			display: flex;
			align-items: center;
			margin-left: 6px;
			cursor: pointer;
		}

		.feature .answer {
			padding: 8px;
			background-color: var(--c-blue-800);
			border-radius: 6px;
			position: absolute;
			top: -12px;
			font-size: 14px;
			z-index: 100;
			transform: translatey(-100%) translatex(-50%);
			transform-origin: bottom center;
			width: 80%;
			left: 50%;
			border: 1px solid var(--c-blue-300);
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
		}

		@-webkit-keyframes scale {
			0% {
				transform: translatey(-100%) translatex(-50%) scale(0);
			}

			100% {
				transform: translatey(-100%) translatex(-50%) scale(1);
			}
		}

		@keyframes scale {
			0% {
				transform: translatey(-100%) translatex(-50%) scale(0);
			}

			100% {
				transform: translatey(-100%) translatex(-50%) scale(1);
			}
		}
	}
}


/* Animaciones generales */
/* Clases */
.scale-out-bottom {
	-webkit-animation: scale-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.scale-out-horizontal {
	-webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* animaacion */
@-webkit-keyframes scale-out-bottom {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 1;
	}
}

@keyframes scale-out-bottom {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 1;
	}
}

@-webkit-keyframes scale-out-horizontal {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		opacity: 1;
	}
}

@keyframes scale-out-horizontal {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		opacity: 1;
	}
}